$background-color-light: #f4f4f4;
$text-color-light: #0f0f0f;
$primary-color-light: #00ff97;
$text-color-bg-light: #ffffff;

$background-color-dark: #0f0f0f;
$text-color-dark: #ffffff;
$primary-color-dark: #00ff97;
$text-color-bg-dark: #0f0f0f;
